* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(246, 210, 246);
  color: black;
}

main {
  width: 960px;
  margin: 5rem auto;
  
}

h1 {
  font-size: 3rem;
  color: white;
  font-size: 60px;
  text-align: center;
  padding: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

section {
  background-color: purple;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 2rem; 
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

h4 {
  font-size: 40px;
  color: purple;
  padding: 20px;
  font-weight: bold;
}

section img {
  /* width: 260px; */
  width: 30%;
  height: 260px;
  object-fit: fill;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid black;
  cursor: pointer;
}

section.no-voting img:hover {
  border: 5px solid transparent;
  cursor: none;
}

ul {
  margin: 1rem;
  border: 2px solid purple;
  float: left;
}
li {
  margin: .5rem;
}

button{
  background-color: darkgrey;
  color: whitesmoke;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
}

#myChart {
  grid-column-start: 2;
  grid-column-end: 3;
}

#siteLogo {
  width: 100px;
  z-index: 2;
  float: left;
}

header {
  background-color: purple;
  height: 7em;
}

.display {
  grid-column: 10% 90%;
}

p {
  padding-bottom: 50px;
  padding-top: 10px;
}
