* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: cornsilk;
  color: saddlebrown;
}

main {
  width: 960px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 6.5rem 10rem 20rem 40%;
}

h1 {
  font-size: 5rem;
  color: black;
  font-size: 60px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

section {
  background-color: blanchedalmond;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 2rem;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}


section img {
  width: 260px;
  height: 260px;
  object-fit: fill;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid black;
  cursor: pointer;
}

section.no-voting img:hover {
  border: 5px solid transparent;
  cursor: none;
}

ul {
  margin: 1rem;
}
li {
  margin: .5rem;
}

button{
  background-color: darkgrey;
  color: whitesmoke;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
}

#myChart {
  grid-column-start: 2;
  grid-column-end: 3;
}